header {
  height: 100px;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
  padding-left: 40px;
}
h1 {
  font-size: 48px;
  margin: 0 60px;
}
main {
  height: calc(100vh - 180px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.counter > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.counter p {
  font-size: 80px;
  height: 100px;
}
.counter p,
.reset {
  background-color: #5c48d3;
  border: 1px solid #e5e5e5;
  color: white;
  width: 100px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.counter > div > div {
  margin: 0 20px;
}
.minus,
.plus {
  width: 80px;
}
.reset {
  background-color: #5c47d2;
  color: white;
  height: 50px;
  width: 100px;
  border-radius: 20%;
  margin-top: 70px;
  font-size: 25px;
}
footer {
  height: 80px;
  display: flex;
  justify-content: center;
}

.descriptionFooter {
  margin-top: 200px;
  text-align: center;
}
